/*Light Mode*/
/*CD5D7D    F6ECF0  A7C5EB  949CDF*/

@font-face{
    src: url("fonts/Adventure.ttf");
}



.title{
    -fx-font-size: 25pt;
    -fx-text-alignment: left;
    -fx-fill: #949CDF;
    -fx-font-family:  "Adventure";
}

.name{
    -fx-font-size: 15pt;
    -fx-text-alignment: left;
    -fx-fill: #949CDF;
    -fx-font-family:  "Adventure";
}


.check{
    -fx-font-size: 15px;
    -fx-text-alignment: left;
    -fx-text-fill: #949CDF;
    -fx-font-family: "sans-serif";
}



.button{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #F6ECF0;
    -fx-background-color: #949CDF;
    -fx-background-radius: 10;
    -fx-font-size: 15pt;
    -fx-font-family: 'Adventure';
    -fx-padding: 10;
}


.button: hover{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #F6ECF0;
    -fx-background-color: #949CDF;
    -fx-background-radius: 10;
    -fx-font-size: 15pt;
    -fx-font-family: 'Adventure';
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-border-color: #CD5D7D;
    -fx-border-width: 3;
}

.label{
    -fx-text-fill: #949CDF;
     -fx-font-family: "sans-serif";
}

.withBorder{
    -fx-font-size: 25pt;
    -fx-text-alignment: left;
    -fx-fill: #949CDF;
    -fx-font-family:  "Adventure";
    -fx-stroke:#CD5D7D;
    -fx-stroke-width: 2px;

}














