@font-face{
    src: url("fonts/Adventure.ttf");
}



#menuTitle{
    -fx-font-size: 25pt;
    -fx-text-alignment: left;
    -fx-fill: /*line-gradient(from*/#6F6DBE;
    -fx-font-family:  "Adventure";
}




.button{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: #6F6DBE;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #006464;
    -fx-font: 15pt 'Adventure';
    -fx-padding: 10;
}


